spring:
  profiles:
    active: test
  jpa:
    hibernate:
      ddl-auto: validate
  mail:
    host: smtp.gmail.com
    port: 587
    username: jongdaep2025@gmail.com
    password: "fzicgjysbgwnkjhj"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    default-encoding: UTF-8

app:
  jwt:
    secret: "this-is-a-very-long-32bytes-minimum-secret-key!!!"
    issuer: "jd-app"
    access-exp-seconds: 3600
