spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  flyway:
    enabled: true
    locations: classpath:db/migration/h2
  h2:
    console:
      enabled: true
      path: /h2-console

app:
  jwt:
    secret: "this-is-a-very-long-32bytes-minimum-secret-key!!!"
    issuer: "jd-app"
    access-exp-seconds: 3600